{% load staticfiles %} <!--This is just loading static files here, letting the HTML template know we added some CSS-->
<html>
    <head>
    
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> <!-- This is the bootstrap CSS file-->
        <link rel="stylesheet" href="{% static "css/blog.css" %}"> <!-- Allows for us to override bootstrap code with our code-->
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> <!--importing Lobster font from Google Fonts-->
    </head>
    <body>
         <div class="page-header">
            {% if user.is_authenticated %}
              <a href="{% url "post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}

        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>            
    </body>
</html>